.sudoku-page
{
    display: flex;
}

.sudoku-help
{
    padding-left: 2rem;
    flex-basis: auto;
}

.sudoku-top-line
{
    display: flex;
    flex-direction:row;
}

.sudoku-bottom-line
{
    display: flex;
    flex-direction:row-reverse;
}

.sudoku-bottom-line img
{
    width: 1.5rem;
    height: 1.5rem;
}

.sudoku-bottom-line input[type=checkbox]
{
    margin: 5px;
}

.status-line
{
    font-size: medium;
    color: red;
    flex:1;
}

.sudoku-help p
{
    margin-bottom: 0.25rem;
}

.sudoku-board
{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
}

.sudoku-row
{
    flex: 1;
    display: flex;
}

.sudoku-cell
{
    background-color: aliceblue;
    border: 1px solid black;
    text-align: center;
}

.sudoku-cell:focus
{
    background-color: black;
    color: white;
}

.sudoku-cell-block-3
{
    flex-basis: 3.5rem;
    font-size: 1.5rem;
    padding: 0.3rem;
}

.sudoku-cell-block-4
{
    flex-basis: 2rem;
    font-size: 1rem;
    padding: 0;
}

.sudoku-cell-readonly
{
    background-color: cornflowerblue;
    color: white;
}

.sudoku-cell-conflict, .sudoku-cell-conflict:focus
{
    color: red;
}

/* Borders for 3 x 3 block size */

/* Top left corner */
.sudoku-cell-border-3-0-0
{
    border-top:2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* Top middle cell */
.sudoku-cell-border-3-0-1
{
    border-top:2px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* Top right corner */
.sudoku-cell-border-3-0-2
{
    border-top:2px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
}

/* Left side middle row */
.sudoku-cell-border-3-1-0
{
    border-top:1px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* Center cell */
.sudoku-cell-border-3-1-1
{
    border-top:1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* Right side middle row */
.sudoku-cell-border-3-1-2
{
    border-top:1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
}

/* Bottom left corner */
.sudoku-cell-border-3-2-0
{
    border-top:1px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
}

/* Bottom middle cell */
.sudoku-cell-border-3-2-1
{
    border-top:1px solid black;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
}

/* Bottom right corner */
.sudoku-cell-border-3-2-2
{
    border-top:1px solid black;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

/* Borders for 4 x 4 block size */

/* Top left corner */
.sudoku-cell-border-4-0-0
{
    border-top:2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* Top two middle cells */
.sudoku-cell-border-4-0-1, .sudoku-cell-border-4-0-2
{
    border-top:2px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* Top right corner */
.sudoku-cell-border-4-0-3
{
    border-top:2px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
}

/* Two right side middle rows*/
.sudoku-cell-border-4-1-0, .sudoku-cell-border-4-2-0
{
    border-top:1px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* Four center cells */
.sudoku-cell-border-4-1-1, .sudoku-cell-border-4-1-2, .sudoku-cell-border-4-2-1, .sudoku-cell-border-4-2-2
{
    border-top:1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* Two right side middle cells*/
.sudoku-cell-border-4-1-3, .sudoku-cell-border-4-2-3
{
    border-top:1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
}

/* Bottom right corner */
.sudoku-cell-border-4-3-0
{
    border-top:1px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
}

/* Two bottom middle columns */
.sudoku-cell-border-4-3-1, .sudoku-cell-border-4-3-2
{
    border-top:1px solid black;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
}

/* bottom right corner */
.sudoku-cell-border-4-3-3
{
    border-top:1px solid black;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.sudoku-column-gap
{
    flex-basis: 4px;
}

.sudoku-row-gap
{
    flex-basis: 4px;
}